:root {
    --bg-purple: linear-gradient(to bottom, #D4ACFB 100%, #7E6695 100%);
    --bg-light-green: linear-gradient(to bottom, #C3FFC2 50%, #759974);
    --bg-dark-green: linear-gradient(to bottom, #759974 50%, #273327);
    --bg-light-silver: #D9D9D9;
    --text-color1: #8151B0;
    /* background: var(--bg-purple); */
}

body {
    background: var(--bg-purple);
}

/* Navbar */
.navbar {
    background: #8151B0;
    width: 1116px;
}

.navbar-title {
    font-size: 36px;
    background: var(--bg-light-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    align-items: center;
}

.nav, nav-pills {
    background: var(--bg-light-green);
    color: var(--text-color1);
    font-size: 16px;
    font-weight: bold;
    border-radius: 47px;
    margin: 5px;
    padding: 5px;
    width: 125px;
    height: 30px;
}

.navbar button {
    border-color: var(--bg-light-silver);
    color: var(--bg-light-silver);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.navbar button:hover {
    background: var(--bg-light-silver);
    color: var(--text-color1);
}

/* HomePage */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 50px;
}

.square {
    position: relative;
    width: 515px;
    height: 424px;
    border-radius: 47px;
    background: var(--bg-light-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 238px;
    height: 239px;
    margin: 0 auto;
}

.top-left-button {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 185px;
    background-color: var(--bg-light-silver);
    color: var(--text-color1);
    border: outset var(--text-color1);
    border-radius: 47px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    vertical-align: middle;
}

.top-left-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
    border: 2px solid var(--bg-light-silver);
    box-shadow: 20px 10px 10px rgba(36, 36, 36, 0.5);
}

.bottom-right-button {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 185px;
    background-color: var(--bg-light-silver);
    color: var(--text-color1);
    border: outset var(--text-color1);
    border-radius: 47px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    vertical-align: middle;
}

.bottom-right-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
    border: 2px solid var(--bg-light-silver);
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

/* Register */
.square-register {
    position: relative;
    width: 515px;
    height: 384px;
    border-radius: 47px;
    background: var(--bg-light-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-title {
    color: var(--text-color1);
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.mb-3 input {
    width: 465px;
    height: 51px;
    background: var(--bg-light-silver);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: regular;
}

.mb-3 input::placeholder {
    color: var(--text-color1);
}

.form-text {
    color: var(--text-color1);
}

.register-button {
    margin-top: 25px;
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
}

.register-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
}

.password-toggle {
    position: absolute;
    right: 40px;
    top: 48%;
    transform: translateY(-50%);
    color: var(--text-color1);
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}

.repassword-toggle {
    position: absolute;
    right: 15px;
    top: 62%;
    transform: translateY(-50%);
    color: var(--text-color1);
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}

.text-danger {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

/* Login */
.square-login {
    position: relative;
    width: 515px;
    height: 317px;
    border-radius: 47px;
    background: var(--bg-light-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    color: var(--text-color1);
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.login-button {
    margin-top: 25px;
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
}

.login-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
}

p {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--bg-light-silver);
}

a:hover {
    color: var(--text-color1);
}

.text-danger-danger {
    color: #da4448;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

/* Chat */
#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
}

.list-group {
    background: var(--bg-light-green);
    font-size: 16px;
    font-weight: bold;
    height: 590px;
    width: 359px;
}

.list-group-item {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    margin: 15px;
    font-size: 16px;
    font-weight: bolder;
}

.message-old {
    height: 440px;
    width: 850px;
    border-radius: 47px;
    background: var(--bg-light-green);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color1);
}

form {
    background: var(--bg-light-green);
    padding: 25px;
    border-radius: 47px;
    width: 850px;
}

form input {
    height: 60px;
    background: var(--bg-light-silver);
    font-size: 14px;
    font-weight: regular;
}

#inputMessage {
    background: var(--bg-light-silver);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color1);
    border-radius: 47px;
    width: 675px;
    padding-left: 20px;
}

#inputMessage::placeholder {
    color: var(--text-color1);
}

.btn-send {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    height: 60px;
}

.btn-send:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
}

/* AdminPage */

#adminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
}

.admin {
    background: var(--bg-light-green);
    border-radius: 47px;
    padding-top: 0px;
    height: 500px;
}

.admin-row {
    justify-content: center;
    align-items: center;
}

.admin-card {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    font-size: 16px;
    font-weight: bold;
    border-radius: 47px;
    width: 275px;
    height: 30px;
    margin: 15px;
}

.form-check {
    margin-left: 50px;
}

.form-check-label {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: bold;
    align-content: center;
}

.btn-danger {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}