:root {
    --bg-purple: linear-gradient(to bottom, #D4ACFB 100%, #7E6695 100%);
    --bg-light-green: linear-gradient(to bottom, #C3FFC2 50%, #759974);
    --bg-dark-green: linear-gradient(to bottom, #759974 50%, #273327);
    --bg-light-silver: #D9D9D9;
    --text-color1: #8151B0;
    /* background: var(--bg-purple); */
}

body {
    background: var(--bg-purple);
}

/* Navbar */
.navbar {
    background: #8151B0;
}

.navbar-title {
    font-size: 36px;
    background: var(--bg-light-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.navbar button {
    border-color: var(--bg-light-silver);
    color: var(--bg-light-silver);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;

}

.navbar button:hover {
    background: var(--bg-light-silver);
    color: var(--text-color1);
}

/* HomePage */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 50px;
}

.square {
    position: relative;
    width: 515px;
    height: 424px;
    border-radius: 47px;
    background: var(--bg-light-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 238px;
    height: 239px;
    margin: 0 auto;
}

.top-left-button {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 185px;
    height: 42px;
    background-color: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.top-left-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
    border: 2px solid var(--bg-light-silver);
}

.bottom-right-button {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 185px;
    height: 42px;
    background-color: var(--bg-light-silver);
    color: var(--text-color1);
    border: var(--bg-light-silver);
    border-radius: 47px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-right-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
    border: 2px solid var(--bg-light-silver);
}

.oval {
    margin-top: 50px;
    width: 515px;
    height: 56px;
    background: var(--bg-dark-green);
    border-radius: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.oval:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.oval-button {
    background-color: transparent;
    color: var(--bg-light-silver);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.oval-button:hover {
    color: var(--text-color1);
}

/* Register */
.register-title {
    color: var(--text-color1);
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

.mb-3 input {
    width: 433px;
    height: 51px;
    background: var(--bg-light-silver);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: regular;
}

.mb-3 input::placeholder {
    color: var(--text-color1);
}

.form-text {
    color: var(--text-color1);
}

.register-button {
    margin-top: 25px;
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
}

.register-button:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
}

/* Chat */
#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
}

.list-group {
    background: var(--bg-light-green);
    font-size: 16px;
    font-weight: bold;
    height: 590px;
    width: 359px;
}

.list-group-item {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    margin: 15px;
    font-size: 16px;
    font-weight: bolder;
}

.message-old {
    height: 440px;
    width: 850px;
    border-radius: 47px;
    background: var(--bg-light-green);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color1);
}

form {
    background: var(--bg-light-green);
    padding: 25px;
    border-radius: 47px;
    width: 850px;
}

form input {
    height: 60px;
    background: var(--bg-light-silver);
    font-size: 14px;
    font-weight: regular;
}

#inputMessage {
    background: var(--bg-light-silver);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color1);
    border-radius: 47px;
    width: 675px;
    padding-left: 20px;
}

#inputMessage::placeholder {
    color: var(--text-color1);
}

.btn-send {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    border: none;
    border-radius: 47px;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    height: 60px;
}

.btn-send:hover {
    background: var(--text-color1);
    color: var(--bg-light-silver);
}

/* AdminPage */

#adminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
}

#adminPage h1 {
    color: var(--bg-light-silver);
    font-size: 26px;
    font-weight: bold;
    background: var(--bg-dark-green);
    border-radius: 47px;
    padding: 10px 80px;
    margin-top: 80px;
    margin-bottom: 20px;
    
}

.admin {
    background: var(--bg-light-green);
    border-radius: 47px;
    padding-top: 0px;
}

.admin-row {
    padding: 0px;
    margin: 0px;
}
.admin-card {
    background: var(--bg-light-silver);
    color: var(--text-color1);
    font-size: 16px;
    font-weight: bold;
    border-radius: 47px;
    width: 275px;
    height: 30px;
    margin: 15px;
    margin-bottom: 0px;
}